this is a configuration 
we want to auto tasks using Ansible 
So we create a generic template using J2 
which could help us to create config for different hosts

this is the groupe name of the host {{ group_names }}
this is the inventory hostname: {{ inventory_hostname }}

